@model personapi_dotnet.Models.Entities.Profesion

@{
    ViewData["Title"] = "Info Profesión";
}

<h2>Detalles de Profesión</h2>

<div class="form-group">
    <label>ID:</label>
    <p>@Model.Id</p>
</div>

<div class="form-group">
    <label>Nombre:</label>
    <p>@Model.Nom</p>
</div>

<div class="form-group">
    <label>Descripción:</label>
    <p>@Model.Des</p>
</div>
