@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Laboratorio 1 - Santiago Yáñez, Alejandro Suárez, Hermann Hernandez</h1>
    <!-- Aquí se agrega la imagen -->
    <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/09/05/15676882158584.jpg" alt="Laboratorio 1" class="img-fluid mt-4" />
</div>
