@model personapi_dotnet.Models.Entities.Telefono

@{
    ViewData["Title"] = "Info Teléfono";
}

<h2>Detalles de Teléfono</h2>

<div class="form-group">
    <label>Numero:</label>
    <p>@Model.Num</p>
</div>

<div class="form-group">
    <label>Operador:</label>
    <p>@Model.Oper</p>
</div>

<div class="form-group">
    <label>Dueno:</label>
    <p>@Model.Dueno</p>
</div>