@model personapi_dotnet.Models.Entities.Estudio

@{
    ViewData["Title"] = "Info Estudio";
}

<h2>Detalles de Estudio</h2>

<div class="form-group">
    <label>Id Profesion:</label>
    <p>@Model.IdProf</p>
</div>

<div class="form-group">
    <label>Cedula persona:</label>
    <p>@Model.CcPer</p>
</div>

<div class="form-group">
    <label>Fecha:</label>
    <p>@Model.Fecha</p>
</div>

<div class="form-group">
    <label>Universidad:</label>
    <p>@Model.Univer</p>
</div>

